@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .label-on-card-small {
    @apply text-[0.5625rem] font-medium tracking-[0.08038rem];
  }

  .error-message {
    @apply text-red mt-2 text-xs font-medium leading-normal;
  }

  .footer-link {
    @apply cursor-pointer underline;
  }
}
